# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/extensions.json
src-tauri/icons/StoreLogo.png
src-tauri/icons/Square89x89Logo.png
src-tauri/icons/Square71x71Logo.png
src-tauri/icons/Square44x44Logo.png
src-tauri/icons/Square310x310Logo.png
src-tauri/icons/Square30x30Logo.png
src-tauri/icons/Square284x284Logo.png
src-tauri/icons/Square150x150Logo.png
src-tauri/icons/Square142x142Logo.png
src-tauri/icons/Square107x107Logo.png
src-tauri/icons/icon.png
src-tauri/icons/icon.ico
src-tauri/icons/icon.icns
src-tauri/icons/32x32.png
src-tauri/icons/128x128@2x.png
src-tauri/icons/128x128.png
working.7z
src/assets/javascript.svg
src/assets/tauri.svg
